.filterable-table {
	padding: 20px;
	background-color: beige;
}

footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}

body{
   font-family: 'helvetica neue', helvetica, sans-serif;
   font-size:14px;
   color:#333;
  }
  .left_pane{
    position:absolute;
    top:0px;
    left:0px;
    width:80%;
    height:100%;
  }
  .content_box{
    position:absolute;
    bottom:75px;
    top:0px;
    width:96%;
    padding:20px 2% 0px 2%;
    overflow:scroll;
  }
  .message{
    margin:2px 0px;
  }
  .message.left{
    width:50%;
    margin-right:50%;
    text-align:left;
  }
  .message.right{
    width:50%;
    margin-left:50%;
    text-align:right;
  }
  .message .bubble{
   display:inline-block;
   padding:5px 15px;
   border-radius: 25px;
   word-wrap: break-word;
   white-space: pre-wrap;
   text-align: left;
   line-height: 1.2em;
  }
  .message.right .bubble{
    background-color:#458CFF;
    color:white;
  }
  .message.left .bubble{
   background-color:#efefef;
   color:black;
  }
	.message.left .bubble.data{
		width:100%;
		font-size:.9em;
		// background-color: #fff;
		// border:1px solid #ccc;
		pre{
			overflow-x: scroll;
		}
	}
	.message.left .bubble.explain{
		background-color: #efefef;
		font-style: italic;
		// color: #eee;
	}
  .input_box{
    position:absolute;
    height:40px;
    bottom:0px;
    width:98%;
  }
	.prediction_strip{
		position:absolute;
		height:15px;
		padding: 10px 0px;
		bottom:40px;
		width:100%;
		border-top:1px solid #ddd;
		span.prediction{
			margin:5px 13px 0px 13px;
			color:#999;
		}
		overflow-x:scroll;
	}
  .input_box input[type="text"]{
   width:100%;
   /*margin:20px 0px;*/
   padding:10px 1%;
   border:none;
   border-top:1px solid #ddd;
   font-size:1em;
  }
  .right_pane{
    position:absolute;
    top:0px;
    right:0px;
    width:20%;
    height:100%;
		border-left:1px solid #bbb;
  }
  .subtitle{
    margin-top:10px;
    font-weight:800;
    text-align: center;
    font-size:1.4em;
  }
  .snippet{
    font-weight:400;
    padding:10px 20px;
		color: #888;
  }
	.variableTable{
		margin-top:10px;
		border-top: 1px solid #eee;
		.title{
			font-weight:600;
			margin:10px 0px;
		}
		ul{
			float:left;
			width:100%;
			padding:0;
			margin:0;
		}
		li{
			width:100%;
			float: left;
			clear:both;
			text-align:left;
			line-height:1.4em;
			color:#888;
			span.half{
				float:left;
				width:50%;
			}
			span.name{
				font-family: courier;
				font-size:.9em;
				color:#444;
			}
		}
		font-weight:400;
		padding:10px 20px;
	}
  span.code{
    /*padding:2px 4px;*/
    font-family: courier;
    font-size:1em;
    font-weight: 800;
    /*background-color: #666;*/
    /*border-radius: 15px;*/
    /*color:white;*/
  }


.innerConversation{
	.title{
		text-align: center;
		color:#ccc;
		margin:20px 0px;
		cursor:pointer;
	}
}

// for form

span.item{
	width:210px;
	display:block;
	float:left;
}
li{
	float:left;
	list-style-type:none;
	margin:2px 0px;
}
li.title{
	margin-bottom:3px;
	font-weight:800;
}
.clear{
	clear:both;
}

span.normal_text, span.iris_arg{
	margin-right:4px;
}
span.iris_arg{
	font-weight:800;
}
